 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>TITLE</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="PATH">
 </head>

 <body>
  <h1>I'm the index.mustache page!</h1>
  <form>
    <label for="username">Username (email)</label>
    <input type=email name="username" />
    <br />
    <br />
    <label for="password">Password</label>
    <input type=password name="password" />
    <br />
    <br />
    <input type="submit" />
  </form>
 </body>

 </html>
